/* Container for the elements */
.container {
  position: relative; /* To contain absolutely positioned elements */
  width: 100%; /* Full width of the viewport */
  margin: 0 auto; /* Centering the container */
}

/* Rectangle 33 */
.rectangle {
  position: relative; /* Changed from absolute to relative */
  width: 100%; /* Full width of the container */
  height: auto; /* Height will adjust based on content */
  padding-top: 48.5%; /* Aspect ratio of 1512px x 733px (733 / 1512 * 100) */
  background: rgba(0, 88, 83, 0.05);
}

/* world_map_PNG28 2 */
.world-map {
  position: absolute;
  top: 0; /* Positioned within the rectangle */
  left: 50%; /* Centering horizontally */
  transform: translateX(-50%); /* Adjusting for centering */
  width: 80%; /* Adjusted to keep aspect ratio within the rectangle */
  height: auto; /* Height will adjust based on content */
  max-width: 1022.39px; /* Maintain max width */
  opacity: 1;
  background: url("../../public/images/world_map.png") no-repeat center center; /* Center the background image */
}

/* Main Title */
.main-title {
  position: relative; /* Positioned within the container */
  max-width: 500px; /* Maintain max width */
  margin: 0 auto; /* Centering */
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 2.5vw; /* Responsive font size */
  line-height: 1.35; /* Line height as a ratio */
  text-align: center;
  color: #000000;
  padding: 50px;
}

/* Subtitle */
.subtitle {
  position: relative; /* Positioned within the container */
  width: 100%; /* Full width */
  max-width: 700px; /* Maintain max width */
  margin: 0 auto; /* Centering */
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.5vw; /* Responsive font size */
  line-height: 1.375; /* Line height as a ratio */
  text-align: center;
  color: #000000;
  padding: 20px;
}

@media (max-width: 768px) {
  .main-title {
    font-size: 5vw; /* Adjust font size for mobile */
  }

  .subtitle {
    font-size: 3.5vw; /* Adjust font size for mobile */
  }
}
